.container{
    display: grid;
/*     grid-template-columns: 1fr 1fr; */
grid-template-columns: repeat(12,1fr);
grid-template-rows: 50px auto 50px;
height: 100vh;

}

.header{


   /*  grid-column: 1/3; */
   grid-column: 2/-1;
/*     grid-column-start: 1;
    grid-column-end: 3; */
color: yellow;
background-color: aqua;
}

.footer{
    grid-column: 1/-1;
}

.content{
    grid-column: 2/-1;
}
.menu{

    color: yellow;
    background-color:blue;
    grid-row: 1/3;

}

.content{
    color: yellow;
    background-color: black;

}

.footer{
    color: yellow;
background-color: brown;
}